@tailwind base;
@tailwind components;
@tailwind utilities;

.img-box {
    transition: display 2s;
    -webkit-transition: display 2s;
    -moz-transition: display 2s;
    -ms-transition: display 2s;
    -o-transition: display 2s;
    margin: 10px auto;
}


@keyframes shake {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    25% {
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        -o-transform: translateX(-2px);
}
    50% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    75% {
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
        -ms-transform: translateX(2px);
        -o-transform: translateX(2px);
}
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
.error {
    animation: shake 0.1s linear 10;
    -webkit-animation: shake 0.1s linear 10;
}
